<div
 class="radio"
 mouseWheel
 (mouseWheelUp)="mouseWheelUpFunc(event)"
 (mouseWheelDown)="mouseWheelDownFunc(event)"
>

  <audio
    #audioPlayer
    *ngIf="station"
    class="d-none"
    [volume]="volumeScaled"
    [autoplay]="true"
    muted="muted"
    src="http://localhost:3000/"
  >
    <!-- [src]="(station | async).stream" -->
    <!-- trick found on sw so that autoplay works (tested in latest chrome) -->
    <!-- <source src="http://localhost:3000/" type="audio/mp3"> -->

    Your browser does not support the
    <code>audio</code> element.
  </audio>

  <ny-volume
    [start]="initialVolume"
    [value]="volume"
    (changed)="onVolumeChange($event)">
  </ny-volume>

  <ny-station
    [name]="(station | async).name"
    [description]="(station | async).description"
    [pic]="(station | async).pic.big || (station | async).pic.small"
    [paused]="paused">
  </ny-station>

  <footer class="now-playing text-center"><span>{{currentPlaying}}</span></footer>

</div>
