<div
 class="radio"
 mouseWheel
 (mouseWheelUp)="mouseWheelUpFunc(event)"
 (mouseWheelDown)="mouseWheelDownFunc(event)"
>

  <audio
    #audioPlayer
    *ngIf="channel | async as station"
    class="d-none"
    [volume]="volumeScaled"
    [autoplay]="true"
    [muted]="paused"
    src="http://localhost:3000/station/{{station.id}}"
  >
    <!-- trick found on sw so that autoplay works (tested in latest chrome) -->
    <source src="0.mp3" type="audio/mp3">

    Your browser does not support the
    <code>audio</code> element.
  </audio>

  <div class="columns col-gapless">
    <section class="column col-5">
      <ny-volume
        [start]="initialVolume"
        [value]="volume"
        (changed)="onVolumeChange($event)">
      </ny-volume>

      <img *ngIf="channel | async as station" class="img-responsive" [src]="station.xlimage">
    </section>

    <section class="column col-6 col-ml-auto station-info" [ngClass]="{ paused: paused }">
      <header *ngIf="channel | async as station">
        <h1 class="station-info-title d-inline-block">{{station.title}}</h1>
        <p class="station-info-description">{{station.description}}</p>
      </header>

      <ny-playlist [channel]="channel"></ny-playlist>
    </section>
  </div>

</div>
