<div
 class="radio"
 mouseWheel
 (mouseWheelUp)="mouseWheelUpFunc(event)"
 (mouseWheelDown)="mouseWheelDownFunc(event)"
>

  <audio
    #audioPlayer
    *ngIf="station"
    class="d-none"
    [volume]="volumeScaled"
    [autoplay]="true"
    muted="muted"
    [src]="station.stream"
  >
    <!-- trick found on sw so that autoplay works as expected -->
    <source src="0.mp3" type="audio/mp3">

    Your browser does not support the
    <code>audio</code> element.
  </audio>

  <ny-volume
    [start]="2"
    [value]="volume"
    (changed)="onVolumeChange($event)">
  </ny-volume>

  <ny-station
    [name]="station.name"
    [description]="station.description"
    [pic]="station.pic.big || station.pic.small">
  </ny-station>

  <footer class="now-playing text-center"><span>Enio Morhikhone - instagib</span></footer>

</div>
