:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.radio {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .image-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    max-height: 420px;

    .station-image {
      width: 300px;
      height: 300px;
    }
  }

  .info-section {
    .station-title {
      display: table;
      padding: 6px 14px 6px 14px;
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: bold;
      background: #CBCE3F;
      transition: all .2s ease;
    }

    .station-description {
      display: table;
      padding: 10px 14px 10px 14px;
      max-width: 66%;
      font-size: 18px;
      background: #CBCE3F;
      transition: all .2s ease;
    }
  }

  .info-section.paused {
    .station-title {
      background: #46846A;
      color: #EDE9F2;
    }

    .station-description {
      background: #46846A;
      color: #EDE9F2;
    }
  }
}
