:host {
  flex-grow: 1;
}

.playing {
  display: flex;
  flex-grow: 1;

  .station-pic {
    min-width: 200px;
  }

  .station-info {
    padding-left: 20px;
    padding-top: 20px;

    header {
      padding: 0 14px 4px 14px;
      font-size: 32px;
      background: #CBCE3F;
      margin-bottom: 20px;
      transition: all .2s ease;
    }

    p {
      padding: 6px 14px 10px 14px;
      font-size: 18px;
      background: #CBCE3F;
      transition: all .2s ease;
    }
  }

  &.paused {
    .station-info {
      header {
        background: darken($color: #CBCE3F, $amount: 20%);
        color: lighten($color: #CBCE3F, $amount: 20%);
      }

      p {
        background: darken($color: #CBCE3F, $amount: 20%);
        color: lighten($color: #CBCE3F, $amount: 20%);
      }
    }
  }

}
