<div class="stations">
  <ul class="stations-list">

    <li class="item">
      <button class="station-pic">
        <img style="height: 80px; width: 80px;" class="img-responsive" src="../../assets/images/beatblender-400.jpg">
      </button>
    </li>

    <li class="item">
      <button class="station-pic">
        <img style="height: 80px; width: 80px;" class="img-responsive" src="../../assets/images/bootliquor-400.jpg">
      </button>
    </li>

  </ul>

  <aside class="stations-actions">
    <button class="btn"><i class="fal fa-plus"></i></button>
  </aside>
</div>
