.playlist {
  max-height: 250px;
  overflow: hidden;

  &.paused {
    color: #BBBBBB;
  }

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: initial;
  }

  &-item {
    transition: color .2s ease-in-out;
    span {
      display: inline-block;
      max-width: 100%;
      line-height: 36px;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 500;
      text-overflow: ellipsis;
      border-bottom: 2px solid;
      border-color: #BBBBBB;
    }
  }
}
