.playlist {
  max-height: 250px;
  overflow: hidden;

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: initial;
    color: #EDE9F2;
    font-weight: bold;
  }

  &-item {
    span {
      display: inline-block;
      padding: 0 14px;
      max-width: 100%;
      line-height: 36px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 3px solid;
      border-color: #CBCE3F;
    }
  }
}
