<div class="stations" style="width: 100%; overflow-y: scroll;">

  <ul class="stations-list">

    <li class="item" *ngFor="let chan of channels">
      <button
        [ngClass]="{ active: chan.id === (selected ? selected.id : undefined) }"
        (click)="onChangeChannel(chan)"
        class="station-pic"
      >
        <img
          [src]="chan.image"
          style="height: 80px; width: 80px;"
          class="img-responsive">
      </button>
    </li>

  </ul>

  <!-- atm don't know what i need here -->
  <!-- <aside class="stations-actions">
    <button class="btn"><i class="fal fa-plus"></i></button>
  </aside> -->

</div>
