:host {
  width: 100%;
}

.stations {
  display: flex;
  padding: 24px 40px;
  background: #e3e3e3;

  .station-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .station-pic {
    padding: 0;
    border: none;
    background: none;
    outline: none;

    &:hover, &.active {
      cursor: pointer;
    }
  }
}
