<!-- TODO maybe move these event handlers somewhere else -->
<main class="app-main" #appMain (keydown)="onKeyDown($event)" tabindex="0">

  <ny-window-controls></ny-window-controls>

    <!-- (volumeChanged)="onPlayerVolumeChange($event)" -->
  <ny-player
    [channel]="channel"
    [startVolume]="presets.volume"
    [volume]="playerVolume"
    [toggleMute]="playerMute"
    [paused]="playerPaused"
    style="flex-grow: 1">
  </ny-player>

  <ny-channels
    (changed)="onChannelsChange($event)"
    (loaded)="onChannelsLoaded($event)"
    [selected]="channel | async">
  </ny-channels>

</main>

