<main class="app-main" #appMain (keydown)="onKeyDown($event)" tabindex="0">

  <div class="player-wrapper" *ngIf="appReady; else loading">
    <ny-window-controls></ny-window-controls>

    <ny-player
      [channel]="selectedChannel"
      [volume]="startVolume"
      [volumeChanges]="playerVolume"
      [toggleMute]="playerMute"
      [paused]="playerPaused"
      style="flex-grow: 1">
    </ny-player>

    <ny-channels
      [channels]="channels"
      (changed)="onChannelsChange($event)"
      [selected]="selectedChannel">
    </ny-channels>
  </div>

  <ng-template #loading>
    <div #loading class="app-loading"></div>
  </ng-template>

</main>

