<main class="app-main">
  <header class="window-controls">
    <nav class="navigation">
      <button class="btn btn-sm options-button"><i class="fal fa-cog"></i></button>
      <button class="btn btn-sm minimize-button"><i class="fal fa-window-minimize"></i></button>
      <button class="btn btn-sm close-button"><i class="fal fa-times-circle"></i></button>
    </nav>
  </header>





  <ny-player style="flex-grow: 1"></ny-player>
  <!-- <ny-volume></ny-volume> -->





  <ny-radio-stations></ny-radio-stations>
</main>

