.volume-control {
  position: absolute;
  top: 0;
  left: 0px;
  height: 300px;
  top: calc(50% - 150px);
  width: 60px;

  ::ng-deep {
    .volume-slider {
      .ng5-slider-bar-wrapper {
        opacity: 0;
      }

      .ng5-slider-floor {
        display: none;
      }

      .ng5-slider-ceil {
        display: none;
      }

      .ng5-slider-pointer {
        width: 60px;
        height: 40px;
        left: -20px !important;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        outline: none;

        &:after {
          display: none;
        }
      }

      .ng5-slider-model-value {
        left: -20px !important;
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        background: #e3e3e3;
      }
    }
  }
}
