$warning-color: #CBCE3F;
$dark-color: #51357B;

$body-font-color: $dark-color;

// $base-font-family: 'Roboto', sans-serif;

@import "node_modules/spectre.css/src/spectre";

html, body {
  height: 100%;
}
